/**
 * Activated Menu Component
 * ----------------------------------------------------
 * Description:
 * Enhances jQueryUI Menu component by adding a controlling activator.
 *
 * Documentation:
 *
 *     - jQueryUI
 *       https://api.jqueryui.com/menu
 *
 *     - TODO:
 *       (steven.burnell@digital.justice.gov.uk to add).
 *
 **/

.ActivatedMenu_Container {
  position: absolute;
}

.component-activated-menu {
  a, span {
    @include button_type_link;
    border: none;
    display: block;
  }

  &, ul {
    border: govuk-colour("blue") solid 2px;
    position: absolute;
    width: 200px;
  }

  .ui-menu-icon {
    /* jQueryUI Menu is adding unwanted icon markup when <a> tags are replaced with <span> tags */
    display: none;
  }
}
