/**
 * Activated Menu Component
 * ----------------------------------------------------
 * Description:
 * Enhances jQueryUI Menu component by adding a controlling activator.
 *
 * Documentation:
 *
 *     - jQueryUI
 *       https://api.jqueryui.com/menu
 *
 *     - TODO:
 *       (steven.burnell@digital.justice.gov.uk to add).
 *
 **/

.ActivatedMenu_Container {
  position: absolute;
}

.component-activated-menu {
  a, span {
    @include button_type_link;
    border: none;
    display: block;
    padding: 10px;

    &.destructive:hover {
      background-color: $govuk-error-colour;
    }
  }

  span {
    padding-right: 30px;
    position: relative;

    &:after {
      content: ">";
      font-family: monospace;
      font-size: 22px;
      height: 100%;
      position: absolute;
      right: 10px;
      top: 10px;
      vertical-align: middle;
    }
  }

  &, ul {
    border: govuk-colour("blue") solid 2px;
    position: absolute;
    width: 250px;
  }

  .ui-menu-icon {
    /* jQueryUI Menu is adding unwanted icon markup when <a> tags are replaced with <span> tags */
    display: none;
  }
}
