version: 2.1
orbs:
  slack: circleci/slack@3.4.2

jobs:
  test:
    working_directory: ~/circle
    docker:
      - image: cimg/ruby:2.7.2
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: setup
          command: docker-compose -f docker-compose.unit-tests.ci.yml up -d --build editor-app-tests-ci
      - run:
          name: security
          command: docker-compose -f docker-compose.unit-tests.ci.yml run --rm editor-app-tests-ci bundle exec brakeman -q --no-pager -i brakeman.ignore
      - run:
          name: unit tests
          command: docker-compose -f docker-compose.unit-tests.ci.yml run --rm editor-app-tests-ci bundle exec rspec
      - slack/status: &slack_status
          fail_only: true
          only_for_branches: main
          failure_message: ":facepalm:  Failed job $CIRCLE_JOB  :homer-disappear:"
          include_job_number_field: false
  build_and_deploy_to_test:
    working_directory: ~/circle/git/fb-editor
    docker: &ecr_image
      - image: $AWS_BUILD_IMAGE_ECR_ACCOUNT_URL
        aws_auth:
          aws_access_key_id: $AWS_BUILD_IMAGE_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_BUILD_IMAGE_SECRET_ACCESS_KEY
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - add_ssh_keys: &ssh_keys
          fingerprints:
            - 0f:d3:b5:c2:a1:7e:0a:a3:d3:2a:84:41:ef:cc:94:f5
      - run: &base_environment_variables
          name: Setup base environment variable
          command: |
            echo "export BUILD_SHA=$CIRCLE_SHA1" >> $BASH_ENV
            echo "export SSH_FILE_FOR_SECRETS=~/.ssh/id_rsa_0fd3b5c2a17e0aa3d32a8441efcc94f5" >> $BASH_ENV
      - run: &deploy_scripts
          name: cloning deploy scripts
          command: 'git clone git@github.com:ministryofjustice/fb-deploy.git deploy-scripts'
      - run:
          name: build and push docker images
          environment:
            ENVIRONMENT_NAME: test
          command: './deploy-scripts/bin/build'
      - run:
          name: deploy to test
          environment:
            APPLICATION_NAME: fb-editor
            PLATFORM_ENV: test
            K8S_NAMESPACE: formbuilder-saas-test
          command: './deploy-scripts/bin/deploy'
      - slack/status:
          only_for_branches: main
          success_message: ":rocket:  Successfully deployed to Test  :guitar:"
          failure_message: ":alert:  Failed to deploy to Test  :try_not_to_cry:"
          include_job_number_field: false
  acceptance_tests:
    docker: *ecr_image
    resource_class: large
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Run acceptance tests
          command: 'make acceptance-ci -s'
      - slack/status: *slack_status

workflows:
  version: 2
  test_and_build:
    jobs:
      #- test
      - build_and_deploy_to_test:
        # requires:
            #            - test
          filters:
            branches:
              only:
                - main
                - publishing/part-2-final
      - acceptance_tests:
          requires:
            - build_and_deploy_to_test
