<% if ['checkanswers', 'confirmation', 'content'].include? @page._type.gsub('page.', '') %>
  <% if @page.content_components.present? %>
    <div class="component add-component">
      <%# TODO: This will be basis of v2 code %>
      <%# ul class="govuk-navigation" %>
        <%# @page.content_components.each do |component| %>
          <%# li data-action="< component >"><a href="#add_component">< component.capitalize ></a></li %>
        <%# end %>
      <%# /ul %>

      <%# This will be in MVP and v2 code %>
      <a class="fb-govuk-button fb-govuk-button-inverted" href="#add-content-component"><%= t('components.actions.add_content') %></a>
    </div>
  <% end %>
<% end %>
