<script type="text/html"
        data-component-template="ConfirmationDialog"
        data-classes="dialog-message"
        data-text-cancel="<%= t('dialogs.button_cancel') %>"
        data-text-ok="<%= t('dialogs.button_ok') %>">

  <div class="component component-dialog" id="confirmation-dialog">
    <h3 data-node="heading" class="govuk-label govuk-label--m"><%= t('dialogs.heading') %></h3>
    <p data-node="message"><%= t('dialogs.message') %></p>
  </div>
</script>
