<script type="text/html"
        data-component-template="ConfirmationDialogDelete"
        data-classes="dialog-delete"
        data-text-cancel="<%= t('dialogs.button_cancel') %>"
        data-text-ok="<%= t('dialogs.button_delete') %>">

  <div class="component component-dialog component-dialog-delete" id="confirmation-delete">
    <h3 data-node="heading" class="govuk-label govuk-label--m"><%= t('dialogs.heading_delete') %></h3>
    <p data-node="message"><%= t('dialogs.message_delete') %></p>
  </div>
</script>
