/* fb-editor specific CSS for styling this third-party component.
 * --------------------------------------------------------------
 **/

.component-dialog {
  h3 {
    margin-top: 0;
  }
}

.dialog-delete {
  .ui-dialog-buttonset > :first-child {
    @extend .govuk-button--warning;
  }
}



/* Adapting jQuery UI Dialog Widget Classes
 * ----------------------------------------
 * https://api.jqueryui.com/dialog
 **/

.ui-button {
  @extend .govuk-button;
  @include govuk-responsive-margin(7, "right");
  @include fb-govuk-button;

  margin-bottom: 0;

  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(5);
    &:last-child {
      margin-bottom: 0;
    }
  }

}

.ui-dialog {
  @include govuk-responsive-padding(7);
  background-color: govuk-colour("white");
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  max-width: 730px;
  position: absolute;
  width: calc(100% - #{ govuk-spacing(7) * 2 }) !important; // Important only to override widgets inline styles
  z-index: 2;

  input[type=submit] {
    left: -10000px;
    position: absolute;
  }

  form {
    @include govuk-responsive-margin(7, "bottom");
  }

  @include govuk-media-query($until: tablet) {
  }
}

.ui-dialog-buttonset > :last-child {
  @extend .govuk-button--secondary;
}

.ui-dialog-title {
  display: none;
}

.ui-dialog-titlebar {
  text-align: right;
}

.ui-dialog-titlebar-close {
  background-color: transparent;
  background-image: url("../images/close_icon_u73.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  box-shadow: none;
  border: none;
  display: inline-block;
  height: 44px;
  margin: 0 0 5px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -1000px;
  top: 0;
  width: 44px;

  &:hover {
    background-color: transparent;
    background-image: url("../images/close_icon_u73_mouseover.svg");
  }
}

.ui-widget-overlay {
  // Colour taken from prototype, not GovUK styles.
  background-color: rgb(47, 79, 79); 
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


