
// fb-editor buttons are blue, not green.
.govuk-button {
  background-color: govuk-colour("blue");

  &:hover {
    background-color: govuk-colour("dark-blue");
  }
}

.govuk-form-group--error {
  .govuk-input {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;

    &:focus {
      border-color: $govuk-input-border-colour;
    }
  }
}


// FB-Editor styles
.fb-editor-list,
.fb-editor-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fb-editor-form-list {
  margin-bottom: govuk-spacing(5);

  li {
    border-bottom: govuk-colour("mid-grey") solid 1px;
    padding: govuk-spacing(3) 0;

    &:last-child {
      border: none;
    }
  }

  .actions {
    float: right;
    text-align: right;
    width: 25%;
  }

  .name {
    display: inline-block;
    font-weight: bold;
    width: 75%;
  }
}


/* govuk-app-navigation does not appear to exist
 * but these styles are taken from the GovUK
 * design system site.
 **/
.govuk-app-navigation {
  background-color: govuk-colour("light-grey");
  border-bottom: govuk-colour("mid-grey") solid 1px;
  box-sizing: border-box;
  padding: govuk-spacing(2) 0;
  -webkit-box-sizing: border-box;
  line-height: 1.25em;
}

.govuk-app-navigation__link {
	font-weight: 700;
	text-decoration: none;
}
