/*fNote:
 * These styles rely on some sass code from the govuk design files.
 * Specific customisations for the MOJ form builder Editor.
 **/

.fb-govuk-footer__copyright-logo {
  display: inline-block;
  min-width: 125px;
  padding-top: 112px;
  background-image: url("../images/govuk-crest.svg");
  background-repeat: no-repeat;
  background-size: 125px 102px;
  text-align: center;
  background-position: 50% 0px;
  white-space: nowrap;
}

.width-responsive-two-thirds {
  @include responsive_width("two-thirds");
}

/* General rules
 * ------------- */
html {
  background-color: govuk-colour("light-grey");
  min-height: 100%;
  position: relative;
}

html,
body {
  scroll-behavior: smooth;
  @media (prefers-reduced-motion) {
    scroll-behaviour: auto;
  }
}

.publish-create,
.services-edit {
  main {
    // Brief flash of content not ready for display.
    // This can be reversed when slow or view reliant JS has
    // finished running. We're using the controller name + action
    // so we can use it only where actually needed. Find the
    // corresponding JS to turn it off in DefaultController.ready()
    // method, that is called in related controller+action code, at
    // the appropriate point to turn off/reverse the white screen.
    visibility: hidden;

    &.jsdone {
      visibility: visible;
    }
  }
}

[hidden],
[hidden="hidden"] {
  display: none;
}

a[disabled] {
  pointer-events: none;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

#header-logo-link {
  display: inline-block;
  margin-right: govuk-spacing(2);
  position: relative;
  top: -2px;
  vertical-align: middle;
}

#main-content {
  position: relative;
  min-height: 55vh;
}


// .pages-edit .fb-main-grid-wrapper {
.govuk-width-container {
  padding-left: govuk-spacing(7);
}

/* FB-Editor styles
 * ---------------- */
.fb-editable {
  // Trying to compensate for inherit GovUK maring-top settings
  // (or lack of them) on <p> tags and things that should be in them.
  margin-bottom: 1.2em;
}

.fb-editor-list,
.fb-editor-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fb-editor-form-list {
  border-top: govuk-colour("mid-grey") solid 1px;
  margin-bottom: govuk-spacing(5);

  a {
    margin-left: 1ex;
  }

  li {
    border-bottom: govuk-colour("mid-grey") solid 1px;
    display: table;
    padding: govuk-spacing(3) 0;
    width: 100%;

    &:last-child {
      border: none;
    }
  }

  .actions {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 25%;
  }

  .name {
    display: table-cell;
    width: 75%;
  }
}

#fb-editor-save {
  position: absolute;
  right: 0;
  top: 3px;
  width: 100px;

  &:disabled:hover {
    background-color: $govuk-brand-colour;
  }

  @include govuk-media-query($until: tablet) {
    position: static;
  }
}

.govuk-button[aria-disabled="true"],
.govuk-button--start[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
}

.fb-govuk-button {
  // govuk-button style is green but we want blue buttons on fb-editor.
  @include fb-govuk-button;
}

.fb-govuk-button--inline {
  width: auto;
}

.fb-link-button {
  @include button_as_link;
}

.fb-govuk-button-inverted {
  @include button_type_link;
  box-shadow: none; // 0 1px 0 #002d18;
  padding: 8px 10px 7px;
  margin-bottom: 0;
}

/* Publishing
 * ------------------- */
.publish-form {
  .govuk-radios {
    margin-bottom: govuk-spacing(6);
  }
}

#publish-intro {
  margin-top: govuk-spacing(2);
  .time {
    color: $govuk-secondary-text-colour;
  }
}

#publish-environments {
  margin-top: govuk-spacing(8);
}

.publish-environment {
  margin-bottom: govuk-spacing(8);

  h2 {
    margin-bottom: govuk-spacing(1);
  }

  .govuk-warning-text {
    margin-bottom: govuk-spacing(2);
  }

  .description {
    margin-top: 0;
  }

  &.publish-environment--dev {
    .description {
      margin-bottom: govuk-spacing(6);
    }
  }

  &.publish-environment--production {
    .description {
      margin-bottom: govuk-spacing(9);
    }
  }

  .warnings {
    .govuk-warning-text::last-child {
      margin-bottom: 0;
    }
  }

  .review {
    margin-top: govuk-spacing(9);
    margin-bottom: govuk-spacing(6);
  }

  .checklist {
    max-width: 58ch;
  }

  .govuk-checkboxes__item {
    margin-bottom: govuk-spacing(5);
  }

  &__issues-list {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
    @extend .govuk-list--spaced;

    margin-left: govuk-spacing(7);
  }

  button[data-fb-action="publish"] {
    margin-top: govuk-spacing(6);
  }
}

.moj-forms-tabs {
  .govuk-tabs__panel {
    border: 0px;
    padding-left: 0;
    padding-right: 0;
  }

  .govuk-tabs__list {
    border: 0px;
    border-bottom: 1px solid #b1b4b6;
    display: inline-block;
  }

  .govuk-tabs__tab {
    text-decoration: none;
  }

  .govuk-tabs__tab:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  .govuk-tabs__tab:focus-visible {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow:
      0 -2px #ffdd00,
      0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  .govuk-tabs__tab:visited {
    color: #1d70b8;
  }

  .govuk-tabs__list-item {
    border-bottom: 0px;
    background-color: transparent;
    margin-right: 20px;
    padding-right: 80px;
    padding-bottom: 4px;
    padding-left: 0px;
    @extend .govuk-\!-font-size-36;
    & a {
      color: #1d70b8;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .govuk-tabs__list-item--selected {
    border: 0px;
    border-bottom: 3px solid #1d70b8;
    padding-right: 78px;
    padding-left: 0px;
    & a {
      color: #0b0c0c !important;
      font-weight: bold;
    }
  }

  .govuk-fieldset {
    margin-top: 35px;
  }

  .govuk-fieldset__legend {
    margin-bottom: 30px;
  }

  border: 0px;
}

/* Branching
 * ------------------- */
.branches {
  @include responsive_width("three-quarters");

  @include govuk-media-query($until: tablet) {
    label {
      display: block;
      line-height: 1.2em;
      position: static;
    }
  }

  h1 {
    margin-bottom: govuk-spacing(7);
  }
}

.ContentVisibilityQuestion {
  padding-left: 15%;
  position: relative;

  label {
    @include govuk-font($size: 24);

    display: inline-block;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 5px;
  }

  select,
  .error-message {
    width: 100%;
  }

  @include govuk-media-query($until: tablet) {
  }
}

/* Editable components
 * ------------------- */

h1 span.EditableElement {
  display: block;
}

[data-component="add-component"] ul {
  display: none;
}

.AddComponent,
.AddContent {
  margin: govuk-spacing(9) 0;

  a {
    @include addition_icon;

    &:after {
      display: none;
    }
  }

  @media (forced-colors: active) {
    a {
      color: ButtonText;
      border-color: ButtonText;
    }
    .ActivatedMenuActivator {
      &:focus,
      &:focus-visible {
        border-color: Highlight;
        background: transparent;
        outline: 3px solid Highlight;
        outline-offset: 0;
        color: ButtonText;
      }
    }
  }
}

/* NEW FORM FLOW CSS
 * ------------------------ */
.services-edit {
  /* On the flow view, we need to block out behind the title and the header
* buttons so that excess arrows do not flow under there on scrolling 
    1. start below the bottom border
    2. Use Canvas system color to accomodate WHCM/forced colors
*/
  nav#form-navigation {
    &:after {
      content: "";
      position: absolute;
      top: calc(100% + 1px); /*[1]*/
      left: 0;
      right: 0;
      height: 110px;
      background-color: Canvas; /*[2]*/
    }
  }

  .flow-titlebar {
    z-index: 1;
    margin-bottom: govuk-spacing(8);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    > * {
      margin-right: govuk-spacing(3);
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }

    h1 {
      flex: 1 0 100%;
      margin-bottom: govuk-spacing(2);
      margin-left: 0;
      margin-right: auto;
    }

    a.fb-govuk-button {
      box-shadow: none;
    }

    @include govuk-media-query($from: tablet) {
      justify-content: flex-start;
      h1 {
        flex: 1 1 auto;
        margin-bottom: 0;
      }
    }
  }

  // Fix z-index issues because calculations for Branch FlowConnectorPath elements start
  // their lines from centre of a Branch Node, which places them directly over those
  // elements, without this workaround in place (easier to fix z-index than calculations).
  // Also includes some elements that gained position:fixed because they fell off the view.
  .govuk-template__header,
  .govuk-navigation-app,
  .ui-widget-overlay,
  .fb-preview-button {
    z-index: 1;
  }

  .FlowConnectorLine,
  .FlowConnectorPath {
    z-index: 0;

    &.active {
      z-index: 1;
    }

    &.selected {
      z-index: 2;
    }
  }

  .FlowItem {
    z-index: 3;
  }

  .ConnectionMenuActivator {
    z-index: 4;
  }

  .PageMenu,
  .ConnectionMenu {
    z-index: 5;
  }

  .ui-dialog {
    z-index: 6;
  }

  // The flow conditions list is over the lines meaning that they cannot be
  // hovered.  Removing pointer-events allows the hover to "pass-through" to the
  // underlying line.
  .flow-conditions {
    pointer-events: none;

    // The branch connection menus are within the conditions container and
    // still need to receive pointer events, so we turn them back on.
    .branch-connection-menu-activator {
      pointer-events: all;
    }
  }
}

.FlowConnectorLine,
.FlowConnectorPath {
  // A note about the height and width settings.
  // They should both be zero because we want to avoid element overlap to
  // allow for use of hover over event in making Conneciton menus appear.
  // However, although this setting works fine in Firefox, there seems to
  // be a bug in Chrome that simply hides FlowConnectorPath elements from
  // being seen. By accidental tinkering, it seems that giving them a
  // value of 100px works !?!? Not sure why, at time of writing. Also,
  // after playing with it for a couple minutes, it seems setting to 10px
  // still does not work and, setting to 50px makes them appear but gives
  // an incorrectly placed layout. So, 100px is perhaps the magic number
  // although, that doesn't rule out others having equally magical
  // properties. For now, will be leaving as 100px with fingers crossed.
  //
  // Note: We had some success with 1px, but Chrome misaligned the
  // FlowConnectorLine items when zoomed out. A further test of 5px seemed
  // to work in Chrome, but Edge browser didn't like. Magic number so far
  // seems to be sticking with 100px.
  left: 0px;
  height: 100px;
  overflow: visible;
  position: absolute;
  top: 0px;
  width: 100px;

  path {
    display: block; // So we can capture a jQuery height calculation
    fill: none;
    stroke: #949494;
    stroke-width: 2px;
  }

  .arrowPath {
    fill: #949494;
  }

  &.active,
  &.selected {
    path {
      stroke-width: 4px;
    }
  }

  &.active {
    path {
      stroke: $govuk-link-hover-colour;
    }

    .arrowPath {
      fill: $govuk-link-hover-colour;
    }
  }

  &.selected {
    path {
      stroke: govuk-colour("orange");
    }

    .arrowPath {
      fill: govuk-colour("orange");
    }
  }

  @media (forced-colors: active) {
    &.active {
      path {
        stroke: LinkText;
      }

      .arrowPath {
        fill: LinkText;
      }
    }
    &.selected {
      path {
        stroke: Highlight;
      }
      .arrowPath {
        fill: Highlight;
      }
    }
  }
}

.PageMenuActivator {
  display: inline-block;
  left: 157px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: calc(125px - 43px);
}

.flow-branch {
  height: 125px;
  width: 200px;

  img {
    height: 125px;
    left: 0;
    position: absolute;
    top: 0;
    width: inherit;
  }

  & > h2 a {
    box-sizing: border-box;
    color: govuk-colour("black");
    display: block;
    position: absolute;
    top: 30px;
    left: 48px;
    right: 48px;
    bottom: 30px;
    text-align: center;
    text-decoration: none;

    // without clip-path support we use the imagemap, so hide the svg element
    & svg {
      display: none;
    }
  }

  @supports (clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%)) {
    // if the browser supports clip-path we don't need the imagemap
    & img,
    & map {
      display: none;
    }

    // make the link fill the whole area and clip it
    & > h2 a {
      clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 30px 48px; // keep text area same as without clip-path

      // show the svg and make it fill the container
      & svg {
        display: block;
        position: absolute;
        height: 125px;
        width: 200px;
        z-index: -1; // ensure it remains 'under' the link
        top: 0;
        left: 0;
      }

      svg polygon {
        fill: #fff;
        stroke: $govuk-link-colour;
      }
    }

    & > a:focus {
      // we're filling the svg on focus, so we don't need the box shadow as it
      // makes the element break out of the diamond
      box-shadow: none;
    }

    & > h2 a:focus svg polygon {
      fill: govuk-colour("yellow");
      stroke: govuk-colour("black");
    }

    @media (forced-colors: active) {
      & > h2 a svg polygon {
        fill: Canvas;
        stroke: LinkText;
      }

      & > h2 a:focus svg polygon {
        fill: Canvas;
        stroke: Highlight;
        stroke-width: 6px;
      }
    }
  }

  .PageMenuActivator {
    bottom: 10px;
    left: 82px;
    top: calc(125px - 45px);
  }
}

// Bit complicated but necessary for correct Activator hover (without JS intervention)
.flow-branch h2:hover ~ .ActivatedMenuActivator,
.flow-branch a:hover ~ .ActivatedMenuActivator,
.flow-branch map:hover ~ .ActivatedMenuActivator,
.flow-branch .ActivatedMenuActivator:hover,
.flow-page .ActivatedMenuActivator:hover,
.flow-thumbnail:hover ~ .ActivatedMenuActivator {
  opacity: 1;
}

.ConnectionMenuActivator {
  display: inline-block;
  left: calc(100% + 10px);
  overflow: hidden;
  position: absolute;
  top: 46px;

  &.branch-connection-menu-activator {
    left: calc(100% - 24px);
    top: -17px;
  }
}

.flow-condition {
  @include list_reset;
  margin: 0 100px 0 0;
  padding: 0 25px;
  text-align: center;
  width: 300px;

  a,
  span {
    @include govuk-font($size: 16);

    color: $govuk-secondary-text-colour;
    display: inline;
    position: static;
    width: auto;
  }

  .operator {
    color: $govuk-secondary-text-colour;
    font-weight: bold;
  }

  .condition-operator {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.flow-conditions {
  @include list_reset;
  left: 0;
  position: absolute;
  top: 0;
}

.flow-expression {
  display: inline-block;
}

.flow-item {
  overflow: visible;

  .text {
    word-break: break-word;
  }

  &__title {
    &:visited {
      color: $govuk-link-colour;
    }
    &:hover {
      color: $govuk-link-hover-colour;
    }
    &:active {
      color: $govuk-link-active-colour;
    }
    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}

.flow-page {
  height: 250px;
  vertical-align: middle;
  width: 200px;
}

.flow-pointer {
  width: 200px;

  span {
    background-color: govuk-colour("white");
    display: table-cell;
    height: 125px;
    padding-left: 0.5em;
    vertical-align: middle;
  }
}

.editing-external-url {
  margin-top: 30px;
}

.flow-thumbnail {
  background-color: govuk-colour("white");
  border: $govuk-link-colour solid 2px;
  display: block;
  height: 121px;
  margin-bottom: govuk-spacing(2);
  overflow: hidden;
  text-decoration: none;
  width: 196px;

  .external-url-thumbnail {
    border: black solid 2px;
  }

  &:hover {
    border-color: $govuk-link-hover-colour;
  }

  img {
    display: block;
    width: inherit;
    @media (prefers-color-scheme: dark) and (forced-colors: active) {
      filter: invert(100%);
    }
  }

  .title {
    box-sizing: border-box;
    color: govuk-colour("black");
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 15px 10px 15px;
  }

  /* Special case for styling the title */
  &.confirmation {
    span {
      background-color: $govuk-success-colour;
      color: govuk-colour("white");
      max-width: 72%;
      padding: 10px 5px;
      text-align: center;
    }

    .body {
      display: none;
    }
  }

  &.confirmation.payment-enabled {
    span {
      background-color: $govuk-link-colour;
    }
  }

  &.standalone {
    border: $govuk-link-colour solid 2px;
    box-sizing: border-box;
    height: 125px;
  }
}

.flow-warning {
  padding-top: 25px;
  width: 330px;
}

#flow-detached {
  background-color: govuk-colour("white");
  margin-bottom: 100px;
  overflow: visible;

  h2 {
    display: inline-block;
  }

  p.help {
    margin: 0 0 38px 0;
  }

  .flow-detached-group {
    position: relative;
  }
}

#flow-overview {
  background-color: govuk-colour("white");
  min-height: 200px; // Temporary workaround of intermittent height calculation issues
  position: relative;
}

#flow-overview,
.flow-detached-group {
  margin-bottom: 100px;
}

#flow-standalone-pages {
  li {
    display: inline-block;
    margin-bottom: govuk-spacing(9);
    margin-right: govuk-spacing(9);
    width: 200px;
    vertical-align: top;
  }
}

#ServicesContentScrollContainer {
  // Due to layout element of GDS templates, the scroll dimensions
  // need to be calculated by JS (cannot just use width:100%).
  background-color: govuk-colour("white");
  box-sizing: border-box;
  overflow: visible;
  position: relative;
  z-index: 0; // prevents very tall first flow conditions breaking out and overlapping header/preview button
}

/* govuk-navigation does not appear to exist
 * so adding something simple here.
 * ----------------------------------------- */
.govuk-navigation {
  &,
  li {
    @include list_reset;
  }

  a:focus {
    @include focus;
  }

  a:focus:hover {
    color: $govuk-text-colour;
  }
}

/* govuk-app-navigation does not appear to exist
 * but these styles are influenced by the GovUK
 * design system site.
 * These styles add to .govuk-navigation (above)
 * --------------------------------------------- */
.govuk-navigation-app {
  background-color: govuk-colour("light-grey");
  border-bottom: govuk-colour("mid-grey") solid 1px;
  box-sizing: border-box;
  line-height: 1.25em;
  overflow: hidden;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;

  .heading {
    display: inline-block;
    margin: 0;
    width: 55%;
    padding: govuk-spacing(2) 0;

    @media (max-width: 750px) {
      min-width: 55%;
      width: auto;
    }
  }

  a {
    &,
    &:hover {
      @include govuk-font($size: 19);
      border-bottom: transparent solid 4px;
      color: $govuk-link-colour;
      display: block;
      padding: govuk-spacing(2);
      padding-bottom: calc(
        #{govuk-spacing(2)} - 4px
      ); // Calc to compensate for border
      text-decoration: none;
      @media (forced-colors: active) {
        border-color: Canvas;
      }
    }

    &:focus {
      @include govuk-focused-text;
      outline-offset: 0;
    }

    &:hover {
      color: govuk-colour("light-blue");
    }
  }

  li {
    display: inline-block;
    font-weight: 700;
    margin-left: govuk-spacing(5);
    text-align: right;

    &.current {
      a {
        border-color: govuk-colour("blue");

        &:focus {
          border-color: $govuk-text-colour;
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  ul {
    display: inline-block;
    text-align: right;
    vertical-align: bottom;

    @include govuk-media-query($from: tablet) {
      width: auto;
    }

    @include govuk-media-query($from: desktop) {
      width: 44%;
    }
  }
}

// For when a user is signed in
.fb-navigation-header {
  color: govuk-colour("white");
  float: right;

  a {
    &:link {
      text-decoration: none;
    }

    &,
    &:hover {
      color: govuk-colour("white");
      font: inherit;
      text-decoration: underline;
    }

    &:hover {
      color: govuk-colour("white");
    }
  }

  li {
    display: inline;
    margin-left: govuk-spacing(2);
  }
}

/* Override or enhance GovUK styles
 * -------------------------------- */
.govuk-form-group--error,
.error {
  option {
    color: $govuk-text-colour;
    font-weight: normal;
  }

  p {
    margin-top: 0;
  }

  select {
    border-color: $govuk-error-colour;
    color: $govuk-error-colour;
    font-weight: bold;
  }

  .govuk-input:not(.govuk-date-input__input) {
    border-color: $govuk-error-colour;

    &:focus {
      border-color: $govuk-input-border-colour;
    }
  }

  .govuk-date-input__input:not(.govuk-input--error) {
    border-color: $govuk-input-border-colour;

    &:focus {
      border-color: $govuk-focus-colour;
    }
  }
}

.govuk-link {
  &.destructive:focus {
    background-color: govuk-colour("red");
    color: govuk-colour("white");
  }
}

.govuk-warning-link {
  position: relative;

  & &__icon {
    @include govuk-font($size: false, $weight: bold);

    box-sizing: border-box;

    display: inline-block;

    min-width: 22px;
    min-height: 22px;
    margin-top: -2px;
    margin-left: 4px;
    margin-right: 4px;

    text-decoration: none;

    @include govuk-media-query($from: tablet) {
      margin-top: -0px;
    }

    // When a user customises their colours the background colour will often be removed.
    // Adding a border to the component keeps it's shape as a circle.
    border: 3px solid govuk-colour("red");
    border-radius: 50%;

    color: govuk-colour("white");
    background: govuk-colour("red");

    font-size: 18px;
    line-height: 16px;

    text-align: center;

    // Prevent the exclamation mark from being included when the warning text
    // is copied, for example.
    user-select: none;

    // Improve rendering in Windows High Contrast Mode (Edge), where a
    // readability backplate behind the exclamation mark obscures the circle
    forced-color-adjust: none;

    @media screen and (forced-colors: active) {
      border-color: windowText;
      color: windowText;
      background: transparent;
    }
  }

  &:link,
  &:visited {
    color: $govuk-error-colour;
  }

  &:hover {
    color: #942514;
  }

  &:focus {
    background-color: transparent;
    box-shadow:
      0 -2px transparent,
      0 4px transparent;
  }

  &:focus &__text {
    background-color: govuk-colour("red");
    color: govuk-colour("white");
    box-shadow:
      0 -2px $govuk-error-colour,
      0 4px #0b0c0c;
  }
}

.govuk-header {
  // Try to get consistency between with/without page navigation bars
  // and even update space above/below main headings.
  margin-bottom: 0;
}

.govuk-heading-xl {
  word-break: break-word;
}

.govuk-panel--confirmation {
  // Design has informed should not be full width
  width: govuk-grid-width("two-thirds");

  @include govuk-media-query($until: tablet) {
    width: 100%;
  }

  .govuk-panel__body {
    margin-bottom: 0; // Couter other rules to get back to original.
  }

  .govuk-panel__title {
    color: govuk-colour("white");
    margin-bottom: govuk-spacing(
      6
    ); // Counter other rules to get back to original.
  }
}

.govuk-panel--confirmation-payment {
  @extend .govuk-panel--confirmation;
  background-color: $govuk-brand-colour;
}

.govuk-radios__input:disabled + .govuk-radios__label,
.govuk-checkboxes__input:disabled + .govuk-checkboxes__label {
  opacity: 1;
}

.govuk-select {
  background-color: govuk-colour("white");
  min-width: unset;
}

.govuk-navigation .govuk-list {
  li {
    margin-bottom: govuk-spacing(5);
  }
}

dl {
  @extend %govuk-list;
}

dl dt {
  margin-bottom: govuk-spacing(2);
}

dl dd {
  margin: 0;
}

dl > dt:not(:first-of-type),
dl > div:not(:first-of-type) {
  margin-top: govuk-spacing(7);
}

.govuk-character-count .govuk-input {
  margin-bottom: 5px;
}

.fb-domain-input {
  position: relative;

  .govuk-input {
    width: 85%;
  }

  &__suffix {
    position: absolute;
    left: calc(85% + 5px);
    bottom: 36px;
  }

  @include govuk-media-query($until: tablet) {
    .govuk-input {
      width: 100%;
    }

    .fb-domain-input__suffix {
      display: none;
    }
  }
}
