/* Note:
 * These styles rely on some sass code from the govuk design files.
 * Specific customisations for the MOJ form builder Editor.
 **/


.width-responsive-two-thirds {
  @include responsive_width("two-thirds");
}


/* General rules
 * ------------- */
html {
  min-height: 100%;
  position: relative;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

#editContentForm {
  position: absolute;
  right: 0;
  top: 3px;

  @include govuk-media-query($until: tablet) {
    position: static;
  }
}

#header-logo-link {
  display: inline-block;
  margin-right: govuk-spacing(2);
  position: relative;
  top: -2px;
  vertical-align: middle;
}

#main-content {
  margin-bottom: 220px; /* approx height of footer - prevents visual overlap */
  position: relative;
}


/* Editable components
 * ------------------- */
.EditableContent,
.EditableElement {
  &:focus,
  &.active {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

.EditableCollectionFieldComponent,
.EditableTextFieldComponent,
.EditableTextareaFieldComponent {
  :disabled {
    background-color: govuk-colour("white");
  }
}


/* FB-Editor styles
 * ---------------- */
.fb-editable {
  // Trying to compensate for inherit GovUK maring-top settings
  // (or lack of them) on <p> tags and things that should be in them.
  margin-bottom: 1.2em;
}

.fb-editor-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.fb-editor-list,
.fb-editor-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fb-editor-form-list {
  border-top: govuk-colour("mid-grey") solid 1px;
  margin-bottom: govuk-spacing(5);

  a {
    margin-left: 1ex;
  }

  li {
    border-bottom: govuk-colour("mid-grey") solid 1px;
    display: table;
    padding: govuk-spacing(3) 0;
    width: 100%;

    &:last-child {
      border: none;
    }
  }

  .actions {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 25%;
  }

  .name {
    display: table-cell;
    width: 75%;
  }
}

.fb-govuk-button {
  // govuk-button style is green but we want blue buttons on fb-editor.
  @include fb-govuk-button;
}

.fb-govuk-button-inverted {
  @include button_type_link;
}

.fb-preview-button {
  float: right;
}


/* Editable components
 * ------------------- */
.EditableContent,
.EditableElement {
  &:focus,
  &.active {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

.EditableCollectionFieldComponent,
.EditableTextFieldComponent,
.EditableTextareaFieldComponent {
  :disabled {
    background-color: govuk-colour("white");
  }
}

.EditableComponentCollectionItem {
  position: relative;

  .ActivatedMenu_Activator {
    left: -40px;
    opacity: 0;
    position: absolute;
    top: 0;

    &:after {
      top: -4px;
    }
  }

  &.active {
    .ActivatedMenu_Activator {
      opacity: 1;
    }
  }
}

.editableCollectionItemControls {
  z-index: 1; // Attempt to prevent focus difficulty with GovUK radio inputs.

  .ActivatedMenu_Menu {
    border: none;
    width: auto;
  }
}


/* Injected/dynamic components
 * --------------------------- */
.ActivatedMenu_Activator {
  opacity: 0;
  overflow: hidden;

  &.active {
    opacity: 1;
  }
}

.EditableCollectionItemInjector {
  @include button_type_link;
  margin: 0 0 55px 55px;

  &:before {
    content: "+";
    margin-right: 5px;
  }
}

.EditableCollectionItemRemover {
  @include button_type_link;

  &:hover {
    background-color: govuk-colour("red");
    border-color: govuk-colour("red");
    color: govuk-colour("white");
  }
}


/* Navigation: Pages
 * URLs: /services/.../edit
 * ------------------------ */
.form-overview {
  display: inline-flex;
  position: relative;

  .govuk-button {
    display: none; // JS injected element, not required.
  }
}

.form-overview_button {
  // This element is injected by JS
  @include button_type_link;
  opacity: 1;
  position: absolute;
  right: -113px;
  top: calc(50% - 30px);

  &:after {
    display: none;
  }

  &:before {
    content: "+";
    margin-right: 2px;
  }
}

.form-step {
  display: inline-block;
  padding-right: 100px;
  overflow: hidden;
  position: relative;

  &:after {
    border-top: govuk-colour("black") solid 2px;
    content: "";
    position: absolute;
    right: 5px;
    top: calc(45% - 1px);
    width: 93px;
  }

  &:before {
    border: govuk-colour("black") solid 5px;
    border-top-color: govuk-colour("white");
    border-left-color: govuk-colour("white");
    content: "";
    position: absolute;
    right: 4px;
    transform: rotate(-45deg);
    top: calc(45% - 5px);
  }

  &:hover {
    .ActivatedMenu_Activator {
      opacity: 1;
    }
  }
}

.form-step_button {
  bottom: calc(25px + #{govuk-spacing(2)});
  left: 158px;
  position: absolute;
}

.form-step_thumbnail {
  border:  $govuk-link-colour solid 2px;
  display: block;
  height: 145px;
  overflow: hidden;
  text-decoration: none;
  width: 200px;

  img {
    display: block;
    width: 200px;
  }

  .text {
    box-sizing: border-box;
    color: govuk-colour("black");
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 15px 10px 15px;
  }

  &:hover {
    border-color: $govuk-link-hover-colour;
  }

  /* Special case for styling the title */
  &.confirmation {
    span {
      background-color: $govuk-success-colour;
      color: govuk-colour("white");
      max-width: 72%;
      padding: 10px 5px;
      text-align: center;
    }

    .body {
      display: none;
    }
  }
}


/* govuk-navigation does not appear to exist
 * so adding something simple here.
 * ----------------------------------------- */
.govuk-navigation {
  &, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}


/* govuk-app-navigation does not appear to exist
 * but these styles are influenced by the GovUK
 * design system site.
 * These styles add to .govuk-navigation (above)
 * --------------------------------------------- */
.govuk-navigation-app {
  background-color: govuk-colour("light-grey");
  border-bottom: govuk-colour("mid-grey") solid 1px;
  box-sizing: border-box;
  line-height: 1.25em;
  overflow: hidden;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;

  .heading {
    display: inline-block;
    margin: 0;
    width: 55%;
    padding: govuk-spacing(2) 0;

    @media (max-width: 750px) {
      min-width: 55%;
      width: auto;
    }

  }

  a {
    &,
    &:hover {
      @include govuk-font($size: 19);
      border-bottom:  govuk-colour("light-grey") solid 4px;
      color: $govuk-link-colour;
      display: block;
      font: inherit;
      padding: govuk-spacing(2);
      padding-bottom: calc(#{govuk-spacing(2)} - 4px); // Calc to compensate for border
      text-decoration: none;
    }

    &:focus {
      @include govuk-focused-text;
      outline-offset: 0;
    }

    &:hover {
      color: govuk-colour("light-blue");
    }
  }

  li {
    display: inline-block;
    font-weight: 700;
    margin-left: govuk-spacing(5);
    text-align: right;

    &.current {
      a {
        border-color:  govuk-colour("blue");

        &:focus {
          border-color: $govuk-text-colour;
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  ul {
    display: inline-block;
    text-align: right;
    vertical-align: bottom;

    @include govuk-media-query($from: tablet) {
      width: auto;
    }

    @include govuk-media-query($from: desktop) {
      width: 44%;
    }
  }
}

// For when a user is signed in
.govuk-navigation-header {
  color: govuk-colour("white");
  float: right;

  a {
    &:link {
      text-decoration: none;
    }

    &,
    &:hover {
      color: govuk-colour("white");
      font: inherit;
      text-decoration: underline;
    }

    &:hover {
      color: govuk-colour("white");
    }
  }

  li {
    display: inline;
    margin-left: govuk-spacing(2);
  }
}

/* Override GovUK styles
 * --------------------- */
.govuk-form-group--error {
  .govuk-input {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;

    &:focus {
      border-color: $govuk-input-border-colour;
    }
  }
}

.govuk-header {
  // Try to get consistency between with/without page navigation bars
  // and even update space above/below main headings.
  margin-bottom: 0;
}

.govuk-panel--confirmation {
  // Design has informed should not be full width
  width: govuk-grid-width("two-thirds");

  @include govuk-media-query($until: tablet) {
    width: 100%;
  }
}

.govuk-checkboxes__input:disabled + .govuk-checkboxes__label,
.govuk-radios__input:disabled + .govuk-radios__label {
	opacity: 1;
}
