<div class="fb-main-grid-wrapper" data-block-id="unable-to-signup" data-block-type="page" data-block-pagetype="unable-to-signup">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-block-id="signup-error" data-block-property="heading">
        Unable to sign in
      </h1>

      <p>You cannot sign in with that email address</p>
    </div>
  </div>
</div>
