<div class="fb-main-grid-wrapper" data-block-id="signup-error" data-block-type="page" data-block-pagetype="signup-error">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-block-id="signup-error" data-block-property="heading">
        Error signing up
      </h1>

      <p>Unable to signup</p>
    </div>
  </div>
</div>
